.orders {
    display: grid;
    padding: 10px;
}

.price-summary h5,
.delivery-to h5,
.previous-orders h5 {
    font-weight: bold;
}

.hlg {
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 22px;
}

.item-img1 {
    width: 9%;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pobg {
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 22px;
}

.hlgh {
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 3px;

}

.hhfg {
    font-family: "Cabin", sans-serif;
    font-size: 23px;
    color: #565656;
}

.table-container {
    width: 30%;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.styled-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-family: Arial, sans-serif;
}

.styled-table th,
.styled-table td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

.styled-table thead th {
    background-color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.styled-table .total-row th {
    font-weight: bold;
    font-size: 1.1rem;
}

.bottom-left-radius {
    border-bottom-left-radius: 10px;
}

.bottom-right-radius {
    border-bottom-right-radius: 10px;
}

.ord5 p {
    margin-bottom: 2px;
    font-size: 15px;
    color: black !important;
}

.rffgy {
    color: #565656;
}

.fddf {
    color: black !important;
}

.delivered-status {
    background-color: #ccc;
    color: black;
    font-size: 12px;
    font-weight: 600;
    border-radius: 19px;
    padding: 8px;
    padding-top: 8px;
    display: inline-block;
}

.nmbm {
    margin-left: 15px;
}

.Mach {
    font-weight: 600;
    font-size: 18px !important;
}

.grred {
    margin-left: 18px;
}

.step-progress-container {
    margin-left: 50px;
    margin-right: 50px;
}

.progress-bar {
    flex-direction: row;
}

.progress-line {
    position: absolute;
    height: 100%;
    transition: width 0.3s ease-in-out;
}

.step {
    position: relative;
    flex: 1;
    text-align: center;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

.circle.completed {
    background-color: #611d2b;
}

.step-label {
    display: block;
    margin-top: 5px;
    font-size: 12px;
}

@media(min-width:500px) and (max-width:800px) {
    .item-img1 {
        width: 25%;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .hlgh {
        font-family: "Cabin", sans-serif;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 3px;
    }

    .hhfg {
        font-family: "Cabin", sans-serif;
        font-size: 23px;
        color: #565656;
    }
}

@media(min-width:801px) and (max-width:1300px) {
    .item-img1 {
        width: 13%;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}

@media(min-width:200px) and (max-width:499px) {
    .item-img1 {
        width: 25%;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .hlgh {
        font-family: "Cabin", sans-serif;
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 3px;
    }

    .hhfg {
        font-family: "Cabin", sans-serif;
        font-size: 12px;
        color: #565656;
    }

    .rttf {
        font-size: 10px;
    }

    .delivered-status {
        background-color: #ccc;
        color: black;
        font-size: 9px;
        font-weight: 600;
        border-radius: 19px;
        padding: 7px;
        padding-top: 8px;
        display: inline-block;
    }

    .hlg {
        font-family: "Cabin", sans-serif;
        font-weight: bold;
        font-size: 27px;
        margin-bottom: 22px;
    }

    .pobg {
        font-family: "Cabin", sans-serif;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 22px;
    }

    .rffgy {
        color: #565656;
        font-size: 13px;
    }
}

@media(min-width:200px) and (max-width:1199px) {
    .table-container {
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid #ccc;
    }

    .ord5 {
        width: 100% !important;
    }

    .Mach {
        font-weight: 600;
        font-size: 13px !important;
    }

    .ord5 p {
        margin-bottom: 2px;
        font-size: 9px;
        color: black !important;
    }

    .delivered-status {
        background-color: #ccc;
        color: black;
        font-size: 9px;
        font-weight: 600;
        border-radius: 19px;
        padding: 8px;
        padding-top: 8px;
        display: inline-block;
    }

    .step-progress-container {
        margin-left: 0px;
        margin-right: 0px;
    }
}