.order-container {
    margin: 20px auto;
    padding: 42px;
    font-family: "Cabin", sans-serif;
}

.order-title {
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 11px;
}

.order-info {
    font-size: 16px;
    margin-bottom: 10px;
}

.delivery-date {
    font-size: 16px;
    margin-bottom: 24px;
}

.step {
    text-align: center;
    flex: 1;
}

.step .circle {
    width: 12px;
    height: 12px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 auto;
}

.step.active .circle {
    background-color: #175C65;
}

.order_ddyy {
    border: 1px solid #565656;
    padding: 32px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.order_ddd {
    display: flex;
    align-items: center;
    justify-content: none !important;
    gap: 15px;
    padding: 10px 0;
}

.img_dd {
    width: 9%;
    border: 1px solid #ccc;
    border-radius: 9%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.item-name {
    font-size: 27px;
    font-weight: bold;
}

.item-price {
    font-size: 21px;
}

.item-qty {
    font-size: 14px;
}

.price-summary {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.price-summary th,
.price-summary td {
    border: 1px solid #ccc;
    padding: 8px;
}

.total td {
    font-weight: bold;
}

.delivery-info h3 {
    font-size: 24px;
    font-weight: bold;
}

.prev-orders-title {
    font-size: 20px;
    font-weight: bold;
}

.prev-order {
    border: 1px solid #565656;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 85%;
}

.tgrot {
    color: #565656;
    font-size: 21px;
}

.prev-order-info {
    display: flex;
    justify-content: space-between;
}

.bold {
    font-weight: bold;
}

.prev-order-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.delivered-status {
    background-color: #ccc;
    padding: 10px 9px;
    border-radius: 29px;
    font-size: 10px;
    font-weight: bold;
}

@media (max-width: 600px) {

    .order-container .order-item,
    .prev-order-item {
        flex-direction: row;
        align-items: flex-start;
    }

    .prev-order-info {
        flex-direction: row;
    }

    .step-label {
        font-size: 10px;
    }
}

@media(max-width:400px) {
    .order-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 11px;
    }

    .order-info {
        font-size: 9px;
        margin-bottom: 10px;
    }

    .delivery-date {
        font-size: 14px;
        margin-bottom: 24px;
    }

    .img_dd {
        width: 29%;
        border: 1px solid #ccc;
        border-radius: 9%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .item-name {
        font-size: 12px;
        font-weight: bold;
    }

    .item-price {
        font-size: 11px;
    }

    .item-qty {
        font-size: 8px;
    }

    .order-container {
        margin: 20px auto;
        padding: 16px;
        font-family: Arial, sans-serif;
    }

    .gftt {
        font-size: 11px;
    }

    .delivered-status {
        background-color: #ccc;
        padding: 9px 10px;
        border-radius: 29px;
        font-size: 8px;
        font-weight: bold;
    }

    .price-summary td {
        font-size: 15px;
    }

    .tgrot {
        color: #565656;
        font-size: 17px;
        margin-bottom: 7px;
    }

    .delivery-info h3 {
        font-size: 20px;
        font-weight: bold;
    }

    .rtejh {
        font-size: 12px !important;
        margin-bottom: auto;
    }

    .prev-orders-title {
        font-size: 20px !important;
        font-weight: bold;
    }

    .prev-order-item {
        padding: 0px !important;
        margin-right: .5rem !important;
        margin-left: .5rem !important;
    }

    .order_ddyy {
        padding: 15px;
    }
}

@media(max-width:1271px) {
    .price-summary {
        width: 100% !important;
    }

    .price-summary th,
    .price-summary td {
        border: 1px solid #ccc;
        padding: 8px;
    }

    .prev-order {
        width: 100% !important;
    }
}

@media(min-width:1025px) and (max-width:1300px) {
    .img_dd {
        width: 12%;
    }
}

@media(min-width:900px) and (max-width:1024px) {
    .img_dd {
        width: 15%;
    }
}

@media(min-width:785px) and (max-width:899px) {
    .img_dd {
        width: 18%;
    }
}

@media(min-width:600px) and (max-width:784px) {
    .order-container {
        padding: 28px;
    }

    .img_dd {
        width: 21%;
    }

    .order_ddyy {
        padding: 19px;
    }

    .gftt {
        font-size: 14px;
    }
}

@media(min-width:517px) and (max-width:599px) {
    .order-container {
        padding: 19px;
    }

    .img_dd {
        width: 24%;
    }

    .item-name {
        font-size: 24px;
    }

    .item-price {
        font-size: 19px;
    }

    .item-qty {
        font-size: 12px;
    }

    .delivered-status {
        background-color: #ccc;
        padding: 6px 15px;
        border-radius: 29px;
        font-size: 10px;
        font-weight: bold;
    }

    .order_ddyy {
        padding: 18px;
    }

    .gftt {
        font-size: 12px;
    }
}

@media(min-width:401px) and (max-width:516px) {
    .img_dd {
        width: 24%;
    }

    .item-name {
        font-size: 19px;
    }

    .item-price {
        font-size: 15px;
        margin-bottom: auto;
    }

    .item-qty {
        font-size: 11px;
    }

    .tgrot {
        font-size: 17px;
    }

    .rtejh {
        font-size: 12px;
        margin: auto;
    }

    .gftt {
        font-size: 12px;
    }

    .price-summary td {
        font-size: 13px;
    }

    .order-info {
        font-size: 14px;
    }

    .prev-orders-title {
        font-size: 23px !important;
        margin-bottom: 7px;
    }

    .order-title {
        font-size: 28px;
    }

    .delivered-status {
        padding: 6px 15px;
        font-size: 10px;
    }

    .order-container {
        padding: 19px;
    }

    .order_ddyy {
        padding: 15px;
    }
}