.foss_sd {
  font-family: "Cabin", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 15%;
  color: black;
}

.xshhhss_ss {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
}
.xshhhss {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0%;
}

.category_name_ss {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 0%;
}

.sdncsduchs_1 {
  width: 100%;
  margin: auto;
}

.ssss_dddd1_aby {
  width: 33.33333333333333%;
}

.abt_vdio {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
}
.skijiws_256 {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 169%;
  letter-spacing: 0%;
}

.visionb {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0%;
}

.wqsjjhu_wwsw {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0%;
}

.wel_sss {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
}

.sx_dec25 {
  color: #611d2b;

  font-family: "Cabin", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0%;
}
.dsh_566_sss {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 138%;
  letter-spacing: 0%;
  text-align: justify;
}

.our_ddd {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.shsdy_555{
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 0%;
}

.djs_about{
    width: 90%;
}

.sjd_555{
    width: 45%;
}


.translate-middle {
    transform: translate(0%,-50%)!important;
}

.hdr_csd{
width: 100%;
}

