.PaytmLogo {
    width: 10%;
}

.Express {
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #646464;
}

.Puj {
    box-shadow: 0px 0px 4px 0px #00000040;
    height: 100%;
    width: 33.3333%;
    display: flex;
    justify-content: center;
}

.BigFont {
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-size: 29px;
    line-height: 100%;
    letter-spacing: 0%;
}

.checkout-logo {
    width: 120px;
    height: auto;
    background-color: #fff;
    border-radius: 40%;
}

.payment-option {
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 10px;
    background-color: #f4f4f4;
}

.payment-option img {
    width: 50px;
    height: auto;
}

.payment-option input {
    margin-right: 10px;
}

.payment-option1 {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    background-color: #fff;
}

.or-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.line {
    flex: 1;
    height: 2px;
    background-color: #ccc;
    margin: 0 7px;
}

.line1 {
    flex: 1;
    height: 2px;
    background-color: #ccc;
}

.or-text {
    font-weight: bold;
    color: #333;
}

.Box {
    background-color: #f4f4f4;
    height: 50px;
}

.Box1 {
    height: 50px;
}

.ryyt {
    background-color: #fff;
    margin-left: -9px;
    padding-left: 13px;
}

.left-container {
    max-width: 2000px;
    padding-left: 200px;
}

.BoxFont {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
}

.Credit {
    border: 1px solid black;
    background-color: #f4f4f4;
    padding: 11px;
}

.Payment {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.Payment .border {
    background-color: white;
}


.Credit1 {
    background-color: #f4f4f4;
    font-size: 20px;
    font-weight: bold;
}

.Payment {
    background-color: #f4f4f4;
    padding: 20px;
}

.PaymentSec {
    background-color: #f4f4f4;
    padding: 25px;
}

.PaymentSec1 {
    margin-bottom: 20px;
}

.PaymentSec2 {
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
}

.PayBtn {
    background-color: #175C65;
    color: white;
    font-size: 29px;
    font-weight: bold;
    border: none;
}

.PayBtn1 {
    color: #175C65;
    background-color: white;
    margin-left: 7px;
    padding: 10px;
    border-radius: 10%;
}

.RightSec3 {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.tyty,
.tyty1 {
    display: grid;
}

.PayBtn2 {
    color: #175C65;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    margin-left: 7px;
    border: none;
    padding: 10px;
    border-radius: 9%;
    padding-left: 30px;
    padding-right: 30px;
}

.RightSec {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.RightSec1 {
    font-family: "Cabin", sans-serif;
    font-weight: 500;
}

.bdsh_mIN {
    background-color: #175C65;
}

.Logo {
    width: 10%;
    background-color: #f4f4f4;
}

.spanF {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

.fs4 {
    font-size: 33px;
}

.fs5 {
    font-size: 1.25rem;
}

.link {
    color: grey;
}

.dffd {
    display: flex;
    justify-content: space-between;
}

.dffd1 {
    display: flex;
    justify-content: space-between;
}

.Hter {
    display: flex;
    justify-content: end;
    /* gap: 1rem !important; */
}

.word_txtxt {
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
}

@media (max-width:1300px) {
    .left-container {
        padding-left: 3%;
    }
}

@media(min-width:100px) and (max-width:399px) {
    .dffd {
        display: grid;
    }

    .order-item-img {
        border-radius: 10px;
        width: auto !important;
    }

    .iyut {
        padding-top: 20px;
    }

    .PayBtn2 {
        color: #175C65;
        font-weight: bold;
        font-size: 15px;
        background-color: white;
        margin-left: 7px;
        border: none;
        padding: 9px;
        border-radius: 9%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .fs4 {
        font-size: 15px;
    }

    .link {
        font-size: 11px;
    }

    .fs5 {
        font-size: 1.05rem;
    }

    .RightSec {
        font-family: "Cabin", sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    .bfh {
        display: flex;
        flex-direction: row;
    }

    .order-price {
        font-weight: bold;
        font-size: 16px !important;
        text-align: right;
        padding-top: 0% !important;
    }
}

@media(min-width:768px)and (max-width:1699px) {
    .PayBtn2 {
        color: #175C65;
        font-weight: bold;
        font-size: 16px;
        background-color: white;
        margin-left: 7px;
        border: none;
        padding: 10px;
        border-radius: 9%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .RightSec {
        font-family: "Cabin",
            sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    .fs5 {
        font-size: 1rem;
    }
}
.cnjb_hcvh{
    padding-right:0;
}
@media (min-width:1500px)and (max-width:1699px) {
    .order-item-img {
        border-radius: 10px;
        width: 26% !important;
    }

    .fs4 {
        font-size: 30px;
    }
}

@media (min-width:1260px) and (max-width:1499px) {
    .order-item-img {
        border-radius: 10px;
        width: 27% !important;
    }

    .fs4 {
        font-size: 23px;
    }

    .order-price {
        font-weight: bold;
        font-size: 21px !important;
        text-align: right;
        padding-top: 5px !important;
    }
}

@media (min-width:1142px) and (max-width:1259px) {
    .order-item-img {
        border-radius: 10px;
        width: 25% !important;
    }

    .fs4 {
        font-size: 21px;
    }

    .RightSec {
        font-family: "Cabin", sans-serif;
        font-weight: 400;
        font-size: 14px;
    }

    .PayBtn2 {
        color: #175C65;
        font-weight: bold;
        font-size: 16px;
        background-color: white;
        margin-left: 7px;
        border: none;
        padding: 10px;
        border-radius: 9%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .order-price {
        font-weight: bold;
        font-size: 21px !important;
        text-align: right;
        padding-top: 4px !important;
    }
}

@media (min-width:1109px) and (max-width:1141px) {
    .order-item-img {
        border-radius: 10px;
        width: 24% !important;
    }

    .fs4 {
        font-size: 21px;
    }

    .order-price {
        font-weight: bold;
        font-size: 21px !important;
        text-align: right;
        padding-top: 4px !important;
    }
}

@media (min-width:1056px) and (max-width:1108px) {
    .order-item-img {
        border-radius: 10px;
        width: 26% !important;
    }

    .fs4 {
        font-size: 20px;
    }

    .order-price {
        font-weight: bold;
        font-size: 17px !important;
        text-align: right;
        padding-top: 4px !important;
    }
}

@media (min-width:844px) and (max-width:1055px) {
    .order-item-img {
        border-radius: 10px;
        width: 28% !important;
    }

    .fs4 {
        font-size: 14px;
    }

    .order-price {
        font-weight: bold;
        font-size: 14px !important;
        text-align: right;
        padding-top: 3px !important;
    }

    .fs5 {
        font-size: 15px;
    }
}

@media (min-width:769px) and (max-width:843px) {
    .order-item-img {
        border-radius: 10px;
        width: 24% !important;
    }

    .fs4 {
        font-size: 12px;
    }

    .order-price {
        font-weight: bold;
        font-size: 12px !important;
        text-align: right;
        padding-top: 3px !important;
    }

    .fs5 {
        font-size: 13px;
    }
}
/* @media (min-width:767px) and (max-width:768px){
    .left-container{
        width: 100%;
    }
    .right-section{
        width: 100%;
    }
    .gffg{
        display: flex;
        flex-direction: column;
    }
}  */
@media(max-width:768px) {
    .checkout-logo {
        width: 102px;
        height: auto;
        background-color: #fff;
        border-radius: 40%;
    }

    .BigFont {
        font-family: "Cabin", sans-serif;
        font-weight: 600;
        font-size: 23px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    .Box {
        background-color: #f4f4f4;
        height: 50px;
    }

    .Hter {
        display: flex;
        justify-content: end;
        gap: 0rem !important;
    }
}

@media(max-width:790px) {
    /* .gffg {
        flex-direction: row;
    } */

    .gkyuy {
        margin-top: 25px;
    }
}

@media(min-width:600px)and (max-width:767px) {
    .PayBtn2 {
        color: #175C65;
        font-weight: bold;
        font-size: 16px;
        background-color: white;
        margin-left: 7px;
        border: none;
        padding: 10px;
        border-radius: 9%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .RightSec {
        font-family: "Cabin", sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    .fs4 {
        font-size: 33px;
    }

    .fs5 {
        font-size: 20px;
    }
}

@media(min-width:400px)and (max-width:599px) {
    .fs4 {
        font-size: 25px;
    }

    .fs5 {
        font-size: 1rem;
    }

    .Credit {
        border: 1px solid black;
        background-color: #f4f4f4;
        padding: 4px;
    }
}

@media(min-width:100px)and (max-width:399px) {
    .order-item {
        flex-direction: column;
        align-items: center;
    }

    .order-item-img {
        width: auto;
        border-radius: 11px;
    }

    .Credit {
        border: 1px solid black;
        background-color: #f4f4f4;
        padding: 4px;
    }
}

@media(max-width:1500px) {
    .PayBtn {
        background-color: #175C65;
        color: white;
        font-size: 23px;
        font-weight: bold;
    }
}

@media(min-width:250px) and (max-width:600px) {
    .PayBtn {
        background-color: #175C65;
        color: white;
        font-size: 18px;
        font-weight: bold;
    }
    .form-check-label{
        font-size: 12px;
    }
}

@media(max-width:491px) {
    .checkout-logo {
        width: 70px;
        height: auto;
        background-color: #fff;
        border-radius: 40%;
    }

    .PayBtn {
        background-color: #175C65;
        color: white;
        font-size: 17px;
        font-weight: bold;
    }
}

/* .right-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

/* .order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 0;
} */

.bfh {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.order-item-details {
    flex-grow: 1;
}

/* @media (min-width:1700px) and (max-width:1920px) {
    .order-item-img {
        max-width: 31% !important;
        height: auto;
        border-radius: 11px;
    }

    .order-price {
        font-weight: bold;
        font-size: 18px;
        text-align: right;
        padding-top: 10px;
    }
} */

/* html, body {
    height: auto;
    min-height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
  } */
.order-item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.order-price {
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    padding-top: 10px;
}

@media(max-width:777px)and (min-width: 768px) {
    /* .order-item {
        flex-direction: row;
        align-items: center;
    }

    .order-item-img {
        border-radius: 10px;
        width: 28% !important;
    }

    .order-price {
        font-size: 22px;
    } */

    .RightSec {
        font-family: "Cabin", sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    .fs4 {
        font-size: 18px;
    }

    .fs5 {
        font-size: 9px;
    }

    .order-price {
        font-weight: bold;
        font-size: 13px !important;
        text-align: right;
        padding-top: 1px !important;
    }
}

@media(min-width:582px)and (max-width: 767px) {
    .order-item {
        flex-direction: row;
        align-items: center;
    }

    .order-item-img {
        border-radius: 10px;
        width: 19% !important;
    }

    .order-price {
        font-size: 22px;
    }

    .RightSec {
        font-family: "Cabin", sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    .fs4 {
        font-size: 30px;
    }

    .fs5 {
        font-size: 17px;
    }

    .order-price {
        font-weight: bold;
        font-size: 22px !important;
        text-align: right;
        padding-top: 7px !important;
    }
}

@media(min-width:400px)and (max-width: 581px) {
    .order-item {
        flex-direction: row;
        align-items: center;
    }

    .order-item-img {
        border-radius: 10px;
        width: 23% !important;
    }

    .order-price {
        font-size: 22px;
    }

    .RightSec {
        font-family: "Cabin", sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    .fs4 {
        font-size: 18px;
    }

    .fs5 {
        font-size: 16px;
    }

    .order-price {
        font-weight: bold;
        font-size: 15px !important;
        text-align: right;
        padding-top: 3px !important;
    }
}

@media(min-width:462px)and (max-width: 535px) {
    .order-item {
        flex-direction: row;
        align-items: center;
    }

    .order-item-img {
        width: 29%;
        border-radius: 10px;
    }

    /* .order-price {
        font-size: 22px;
    } */

    .RightSec {
        font-family: "Cabin", sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    /* .fs4 {
        font-size: 29px;
    }

    .fs5 {
        font-size: 18px;
    } */
}

@media(max-width:1024px) {
    .wered {
        width: 15%;
    }
}

@media(max-width:768px) {
    .wered {
        width: 19%;
    }
}

@media(max-width:425px) {
    .wered {
        width: 38%;
    }

    .left-container {
        padding-top: 10px;
    }
}

.form-check-input:checked {
    background-color: #175C65;
    border-color: #175C65;
}

.form-check-input {
    width: 1.2em;
    height: 1.2em;
    margin-top: .15em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, .25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

@media (min-width:991px) {
    .check_outpgedetail {
        width: 399px;
    }

    .order-price {
        white-space: noWrap;
    }
}

.error-flksssss {
    color: red;
    font-size: 12px;
}

.checkout-right-section {
    padding: 20px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    backdrop-filter: blur(6px);
}

.right-section-overlay {
    max-width: 75%;
}

.checkout-order-item {
    display: flex;
    margin-bottom: 14px;
}

.checkout-order-img {
    width: 140px;
    height: 140px !important;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
}

.checkout-order-details {
    flex: 1;
}

.product-name {
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    font-family: "Cabin", sans-serif;
}

.product-desc {
    font-size: 18px;
    margin-bottom: 4px;
    font-family: "Cabin", sans-serif;
}

.product-size {
    font-size: 16px;
    font-family: "Cabin", sans-serif;
}

.product-price {
    font-weight: bold;
    font-size: 20px;
    margin-top: 2px;
}

.discount-input {
    flex: 1;
    margin-right: 10px;
    border-radius: 6px;
    padding: 10px;
    border: none;
}

.apply-btn {
    background-color: #fff;
    color: #175C65;
    border: none;
    padding: 11px 37px;
    font-weight: bold;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    font-family: "Cabin", sans-serif;
}

.checkout-summary {
    margin-top: 30px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 18px;
    font-family: "Cabin", sans-serif;
}

.summary-divider {
    border-top: 1px solid #fff;
    margin: 15px 0;
}

.summary-row.total {
    font-weight: 700;
    font-size: 1.1rem;
}

.fdfsssdf {
    display: flex;
    justify-content: space-between;
}

.dsfdss {
    display: grid;
    width: 68%;
}

@media(max-width:1700px) {
    .right-section-overlay {
        max-width: 100%;
    }
}

@media(max-width:420px) {
    .checkout-order-img {
        width: 540px;
        height: 260px !important;
        object-fit: cover;
        margin-top: 10px;
    }

    .checkout-order-item {
        display: grid;
        margin-top: 15px;
    }

    .checkout-order-details {
        margin-top: 10px;
    }

    .product-size {
        font-size: 13px;
    }

    .product-name {
        font-size: 20px;
    }

    .summary-row,
    .product-desc {
        font-size: 15px;
    }

    .summary-row.total,
    .product-price {
        font-size: 18px;
    }

    .apply-btn {
        padding: 10px 18px;
        font-size: 15px;
    }
}

@media(min-width:421px) and (max-width:767px) {
    .checkout-order-img {
        width: 110px !important;
        height: 110px !important;
    }

    .product-desc {
        font-size: 14px;
    }

    .product-size {
        font-size: 13px;
    }

    .product-name {
        font-size: 20px;
    }

    .product-price {
        font-size: 17px;
    }
}

@media(min-width:800px) and (max-width:1100px) {
    .checkout-order-img {
        width: 90px !important;
        height: 90px !important;
    }

    .product-desc {
        font-size: 14px;
    }

    .product-size {
        font-size: 13px;
    }

    .product-name {
        font-size: 19px;
    }

    .product-price {
        font-size: 17px;
    }
}

@media(min-width:800px) {
    .gffg {
        display: flex;
        flex-direction: row;
    }
}
@media(max-width:375px) {
    .coldd {
       flex-direction: column;
    }
}
@media(min-width:376px){
    .colddd1{
        padding-left: 0;
        padding-right: 0;
    }
}
