.header_main {
  background-color: #611d2b;
  color: #fff;
  height: 40px;

}

.header_text {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  font-family: "Cabin", sans-serif;
}

.heder_sec_main {
  background-color: #fff;
}
.acco9_text {
  font-weight: 600;
  font-size: 22px;
  font-family: "Cabin", sans-serif;
}

.sign_txt {
  color: #797979;
  font-weight: 400;
  font-size: 16px;
  font-family: "Cabin", sans-serif;
}

.header_list_tcty {
  font-weight: 500;
  font-size: 18px;
  line-height: 19.8px;
  color: black;
  white-space: noWrap;
  margin-left: 0%;
  font-family: "Cabin", sans-serif;
  cursor: pointer;
}