.ssss_dddd11 {
  width: 50%;
}
.ssss_ssd11 {
  width: 100%;
}
.deta_blg_dd {
  width: 100%;
}

.blog_fade_ds1 {
  position: relative;
}

.blog_fade_ds1::after {
  content: "Jan 20, 2025"; /* Change dynamically in React if needed */
  position: absolute;
  bottom: -26px;
  left: 50px;
  background-color: #611d2b;
  color: #fff;
  padding: 18px 80px;
  font-size: 20px;
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  border-radius: 2px;
  border: none;
}

.ens_ddd {
  font-family: "Cabin", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: justify;
}
.ens_ddds {
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: justify;
}

.ssjnsec_fd {
  background-color: #f1f1f1;
  border-left: 6px solid #611d2b;
  width: 100%;
}

.sedwd {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}

.sdjuue_rrf {
  font-family: "Cabin", sans-serif;

  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}

.sdchhdu {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: justify;
}

@media (max-width: 1083px) {
  .blog_fade_ds1::after {
    content: "Jan 20, 2025";
    position: absolute;
    bottom: -26px;
    left: 50px;
    background-color: #611d2b;
    color: #fff;
    padding: 14px 60px;
    font-size: 17px;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    border-radius: 2px;
    border: none;
  }
  .sdiuuhjus {
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .sxdexes {
    color: #611d2b;
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .mainj_ss {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 27px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: justify;
  }
  .dfc_newssss {
    font-size: 18px !important;
  }
  .hjvbxy {
    border: 1px solid #a1a1a1;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #00000040;
    padding: 0.5rem;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .esyh_btn {
    color: #611d2b;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    background-color: #f4eded;
    border: none;
    padding: 1rem;
    border-radius: 92px;
    width: 30%;
  }
}

@media (max-width: 991px) {
  .sdiuuhjus {
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .sxdexes {
    color: #611d2b;
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .mainj_ss {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: justify;
  }
  .dfc_newssss {
    font-size: 14px !important;
  }
  .hjvbxy {
    border: 1px solid #a1a1a1;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #00000040;
    padding: 0.5rem;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .esyh_btn {
    color: #611d2b;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    background-color: #f4eded;
    border: none;
    padding: 1rem;
    border-radius: 92px;
    width: auto;
  }
  .psps {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: justify;
  }
}
@media (max-width: 885px) {
  .sdiuuhjus {
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .blog_dim_dd {
    width: 40%;
  }
  .sxdexes {
    color: #611d2b;
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .mainj_ss {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: justify;
  }
  .psps {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: justify;
  }
  .dfc_newssss {
    font-size: 15px !important;
  }
  .hjvbxy {
    border: 1px solid #a1a1a1;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #00000040;
    padding: 0.5rem;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .esyh_btn {
    color: #611d2b;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    background-color: #f4eded;
    border: none;
    padding: 1rem;
    border-radius: 92px;
    width: auto;
  }
  .red_ddd {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: justify;
    color: #611d2b;
  }
}
@media (max-width: 841px) {
  .mainj_ss {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: justify;
  }
  .esyh_btn {
    color: #611d2b;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    background-color: #f4eded;
    border: none;
    padding: 1rem;
    border-radius: 92px;
    width: auto;
  }
  .psps {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: justify;
  }
  .red_ddd {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: justify;
    color: #611d2b;
  }
}
@media (max-width: 816px) {
  .sdc_sdcji_swd {
    padding: 1rem;
  }
  .blog_main_dddd {
    flex-direction: column;
  }
  .sdncsduchs {
    box-shadow: 0px 0px 10px 0px #00000040 !important;
    width: 30%;
    font-family: "Cabin", sans-serif;
    position: static !important;
  }
  .sdncsduchs {
    box-shadow: 0px 0px 10px 0px #00000040 !important;
    width: 100%;
    font-family: "Cabin", sans-serif;
    position: static !important;
  }
  .blog_sins_ssss {
    display: flex;
  }
  .blog_det_crdsss {
    width: 33.3333%;
    margin-top: 0rem !important;
  }
  .ssss_ssd11 {
    width: 100%;
    margin-top: 3rem !important;
  }
  .sdncsduch {
    width: 100%;
    margin: auto;
  }
  .dfc_newssss {
    padding-left: 1rem !important;
  }
  .dscds_det_lst_sdss {
    flex-direction: column !important;
  }
  .ssss_ssd11 {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .blog_fade_ds1::after {
    content: "Jan 20, 2025";
    position: absolute;
    bottom: -26px;
    left: 50px;
    background-color: #611d2b;
    color: #fff;
    padding: 14px 60px;
    font-size: 18px;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    border-radius: 2px;
    border: none;
  }
}
@media (max-width: 768px) {
  .blog_main_dddd {
    flex-direction: column;
  }
  .sdncsduchs {
    box-shadow: 0px 0px 10px 0px #00000040 !important;
    width: 30%;
    font-family: "Cabin", sans-serif;
    position: static !important;
  }
  .sdncsduchs {
    box-shadow: 0px 0px 10px 0px #00000040 !important;
    width: 100%;
    font-family: "Cabin", sans-serif;
    position: static !important;
  }
  .blog_sins_ssss {
    display: flex;
  }
  .blog_det_crdsss {
    width: 33.3333%;
    margin-top: 0rem !important;
  }
  .ssss_ssd11 {
    width: 100%;
    margin-top: 3rem !important;
  }
  .sdncsduch {
    width: 100%;
    margin: auto;
  }
  .dfc_newssss {
    padding-left: 1rem !important;
  }
  .blog_ss_tysn_mg {
    width: 100%;
  }
  .ssss_ssd11 {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
@media (max-width: 643px) {
  .blog_sins_ssss {
    display: flex;
    flex-direction: column;
  }
  .blog_det_crdsss {
    width: 100%;
    margin-top: 1rem !important;
  }

  .blog_main_dddd {
    gap: 0.2rem !important;
  }

  .sdiuuhjus {
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .sxdexes {
    color: #611d2b;
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .dfc_newssss {
    font-size: 18px !important;
  }
  .hjvbxy {
    border: 1px solid #a1a1a1;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #00000040;
    padding: 0.5rem;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .blog_dim_dd {
    width: auto;
  }
}
@media (max-width: 329px) {
  .mainj_ss {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: justify;
  }
}

@media (max-width:621px) {
    .sdjuue_rrf{
        font-size: 28px;
    }
}
@media (max-width:1440px) {
    .flex-row {
        flex-direction: column!important;
    }
}