.ringSection .swiper1 {
  padding: 5rem 0;
  margin-left: auto !important;
  margin-right: auto !important;
  position: relative !important;
  overflow: hidden !important;
  list-style: none !important;
  z-index: 1 !important;
  display: block !important;
}

.ringSection .single {
  position: relative;
  pointer-events: none;
  user-select: none;
  z-index: 2;
  /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  .ringSection img {
    width: 100%;
    height: auto;
    vertical-align: top;
    border-radius: 8px;
    pointer-events: none;
  }
}

.ringSection .carousel1 {
  position: relative;
  /* max-width: 800px; */
  margin: auto;
}
.ringSection {
  padding: 0px 0 0 0;
}
.ringSection .carousel1 .swiper-slide1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
.ringSection .single video.ring-video {
  width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.ringSection .swiper-wrapper1 {
  margin-top: 0rem;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
}
.ringSection .swiper1 {
  padding: 0; /* Equal horizontal padding */
  overflow: visible; /* Allow slides to overflow without being cut */
}

@media (max-width: 340px) {
  .ringSection .single {
    height: 195vw;
  }
}

@media (max-width: 400px) and (min-width: 341px) {
  .ringSection .single {
    height: 187vw;
  }
}

@media (max-width: 415px) and (min-width: 400px) {
  .ringSection .single {
    height: 181vw;
  }
}

@media (max-width: 425px) and (min-width: 415px) {
  .ringSection .single {
    height: 174vw;
  }
}
@media (max-width: 500px) and (min-width: 426px) {
  .ringSection .single {
    height: 172vw;
  }
}
@media (max-width: 540px) and (min-width: 500px) {
  .ringSection .single {
    height: 35.5rem;
  }
}
@media (max-width: 576px) and (min-width: 540px) {
  .ringSection .single {
    height: 38rem;
  }
}
@media (max-width: 610px) and (min-width: 577px) {
  .ringSection .single {
    height: 28rem;
  }
}
@media (max-width: 700px) and (min-width: 610px) {
  .ringSection .single {
    height: 31rem;
  }
}
@media (max-width: 768px) and (min-width: 700px) {
  .ringSection .single {
    height: 35rem;
  }
}

@media (max-width: 800px) and (min-width: 768px) {
  .ringSection .single {
    height: 34.5rem;
  }
}

@media (max-width: 894px) and (min-width: 801px) {
  .ringSection .single {
    height: 35.5rem;
  }
}
@media (max-width: 940px) and (min-width: 894px) {
  .ringSection .single {
    height: 38rem;
  }
}
@media (max-width: 991px) and (min-width: 941px) {
  .ringSection .single {
    height: 40rem;
  }
}
@media (max-width: 1024px) and (min-width: 992px) {
  .ringSection .single {
    height: 43.5rem;
  }
}
@media (max-width: 1100px) and (min-width: 1024px) {
  .ringSection .single {
    height: 36rem;
  }
}
@media (max-width: 1207px) and (min-width: 1101px) {
  .ringSection .single {
    height: 40rem;
  }
}
@media (max-width: 1280px) and (min-width: 1208px) {
  .ringSection .single {
    height: 44rem;
  }
}
@media (max-width: 1344px) and (min-width: 1280px) {
  .ringSection .single {
    height: 29rem;
  }
}
@media (max-width: 1400px) and (min-width: 1345px) {
  .ringSection .single {
    height: 32rem;
  }
}
@media (max-width: 1501px) and (min-width: 1400px) {
  .ringSection .single {
    height: 33rem;
  }
}
@media (max-width: 1630px) and (min-width: 1502px) {
  .ringSection .single {
    height: 36rem;
  }
}
@media (max-width: 1800px) and (min-width: 1631px) {
  .ringSection .single {
    height: 40rem;
  }
}
@media (max-width: 1900px) and (min-width: 1801px) {
  .ringSection .single {
    height: 41rem;
  }
}
@media (max-width: 1955px) and (min-width: 1901px) {
  .ringSection .single {
    height: 41rem;
  }
}
@media (min-width: 1955px) {
  .ringSection .single {
    height: 45rem;
  }
}
