.footer_mdjj {
  background-color: #611d2b;
  background-image: url("../../Images/footer_dssds.svg");
  background-repeat: no-repeat;
}

.hdr_csds {
  margin-top: 10rem;
}

.footr_lnk {
  font-family: "Cabin", sans-serif;
}
.use_sdc {
  font-family: "DM Serif Text", serif !important;
  font-weight: 400;
  font-size: 25px !important;
  line-height: 100%;
  letter-spacing: 0%;
}

.doof_dd {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 311%;
  letter-spacing: 0%;
  text-align: justify;
  text-align: start;
}

.footr_lnk {
  color: #fff;
  text-decoration: none;
}

.footr_lnk:hover {
  color: #fff;
  text-decoration: underline;
}

.footer_icon_kk {
  border: 1px solid white;
  border-radius: 100%;
  padding: 10px;
}

/* 
.hr_tg_dd{
        position: relative;
        overflow: visible;
        text-align: center;
        margin: 1rem 0;
        color: inherit;
        background-color: #ffff;
        border: 0;
        opacity: 1.25;
}

.hr_tg_dd::after{
    content: "";
    position: absolute;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
} */

.hr_tg_dd {
  position: relative;
  width: 100%;
  border: none;
  height: 1px;
  background-color: #fff;
  opacity: 1;
  margin: 2rem 0;
  /* Adjust spacing */
}

/* Social Icons Wrapper - Positioning Over the HR */
.foote_ic_sddc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 0 20px; */
}

/* Adjust individual icons */
.footer_icon_kk {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #611d2b;
  border-radius: 50%;
}

.ajreug {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 106%;
  letter-spacing: 0%;
}

.pay_ic_sdcxsd {
  height: 40px !important;
  width: 70px;
  background-color: #fff;
}

.pay_ic_sdcxsxxd {
  background-color: #fff;
}

.hr_bootom {
  background-color: #fff;
  margin-top: 30px;
  height: 1px;
  opacity: 0.7;
}

.foot_ofcd {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  padding-left: 6rem;
  padding-right: 6rem;
}

.main-dxbd {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
}

.gbhuji8usdjikijd {
  border-radius: 9px;
  color: #611d2b;
  background-color: #fff;
  width: 60%;
  align-items: center;
  margin: auto;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.suv_butn {
  background-color: #611d2b;
  color: #fff;
  border-radius: 4px;
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 163px;
  text-align: center;
  height: 42px;
  /* align-items: center; */
  align-content: center;
}

/* .suv_butn1{
    background-color: #F4EDED;
    color: #fff;
    border-radius: 4px;
    
} */

.oizb_inout {
  background-color: #f4eded;
  border: none;
  outline: none;
}

.sdcdscsdss_ss {
  color: #fff;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: justify;
}

@media (max-width: 575px) {
  .sdc_sdds {
    flex: 0 0 auto;
    width: 50%;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-top: 3rem !important;
  }

  .sdc_sdds1 {
    width: 100%;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  .gbhuji8usdjikijd {
    width: 90%;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }

  .zsdds_sss55 {
    flex-wrap: wrap;
    gap: 10px;
  }

  .sdxc_988_sss {
    flex-direction: column-reverse;
  }

  .foot_ofcd {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding-left: 0rem;
    padding-right: 0rem;
    width: 100%;
    white-space: noWrap;
    justify-content: center;
    display: flex;
  }
}

@media (max-width: 410px) {
  .dis-ssss1 {
    flex-direction: column;
  }

  .dis-ssss {
    width: 100%;
  }

  .dszcdscs_aszs {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-size: 29px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .foot_ofcd {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding-left: 0rem;
    padding-right: 0rem;
    width: 100%;
    white-space: noWrap;
    justify-content: center;
    display: flex;
  }

  .ajreug {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 106%;
    letter-spacing: 0%;
  }
}

@media (max-width: 1024px) {
  .gbhuji8usdjikijd {
    border-radius: 9px;
    color: #611d2b;
    background-color: #fff;
    width: 90%;
    align-items: center;
    margin: auto;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  .foot_ofcd {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media (max-width: 935px) {
  .foot_ofcd {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 802px) {
  .foot_ofcd {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (max-width: 375px) {
  .fccc_asxs_footer {
    flex-direction: column;
  }

  .sdc_sdds1 {
    width: 100%;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .sdc_sdds {
    flex: 0 0 auto;
    width: 50%;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-top: 0.5rem !important;
    width: 100%;
  }

  .fccc_asxs_footer {
    padding-top: 0rem !important;
  }

  .sdcdsc_fvgtfgv {
    width: 100%;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  .use_sdc {
    width: 100% !important;
    white-space: nowrap;
  }
}

@media (max-width: 1240px) and (min-width: 1025px) {
  .gbhuji8usdjikijd {
    border-radius: 9px;
    color: #611d2b;
    background-color: #fff;
    width: 90%;
    align-items: center;
    margin: auto;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}

@media (min-width: 992px) {
  .sdcdscsdss_ss {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .dis-ssss1 {
    flex-direction: column;
  }

  .dis-ssss {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .category_name {
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 10px;
    font-family: "DM Serif Text", serif;
  }
}

/* .hdr_csdssdrcsdc{
  margin-top: 2rem;
} */

@media (max-width: 768px) {
  .enter_policy_text {
    font-size: 14px;
  }

  .zsdds_sss55 {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 769px) {
  .COPY_RIGHT_LINE {
    line-height: 24px;
    margin: auto;
    padding: 0;
    padding-bottom: 4px;
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .COPY_RIGHT_LINE {
    line-height: 18px !important;
    margin: auto;
    padding: 0;
    padding-bottom: 4px;
    font-size: 15px;
  }
}

.COPY_RIGHT_LINE {
  line-height: 24px;
  margin: auto;
  padding: 0;
  padding-bottom: 4px;
}

.footer_emi {
  line-height: 24px;
}

.sub_ss {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: justify;
  color: #611d2b;
  border: 1px solid white;
  border-radius: 100px;
  display: flex;
  justify-content: center;
}

.email {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: justify;
  color: #611d2b;
  border: 1px solid white;
  border-radius: 100px;
  padding-left: 32px;
}

.footer_cont {
  width: 20%;
}

.footer_cont1 {
  width: 15%;
}

@media (max-width: 1411px) {
  .use_sdc {
    font-size: 20px !important;
    white-space: nowrap;
  }

  .bcdhb_jcb {
    height: 41px;
    font-size: 14px;
  }

  .sdcdscsdss_ss {
    font-size: 14px;
  }

  .footer_emi {
    font-size: 14px;
  }
}

@media (max-width: 1030px) {
  .use_sdc {
    font-size: 18px !important;
  }

  .bcdhb_jcb {
    height: 35px;
    font-size: 13px;
  }

  .footer_emi {
    font-size: 13px;
  }

  .sdcdscsdss_ss {
    font-size: 13px;
  }
}

@media (max-width: 939px) {
  .use_sdc {
    font-size: 16px !important;
  }

  .bcdhb_jcb {
    height: 34px;
    font-size: 13px;
  }

  .footer_emi {
    font-size: 13px;
  }

  .sdcdscsdss_ss {
    font-size: 12px;
  }
}

@media (max-width: 889px) {
  .use_sdc {
    font-size: 15px !important;
  }

  .bcdhb_jcb {
    height: 34px;
    font-size: 12px;
  }

  .footer_emi {
    font-size: 12px;
  }

  .sdcdscsdss_ss {
    font-size: 12px;
  }
}

@media (max-width: 870px) {
  .sub_ss {
    line-height: 44px;
    font-size: 13px;
  }

  .email {
    padding-left: 18px;
  }
}

.footer_mdjj_1 {
  background-color: #611d2b;
  /* background-image: url('../../Images/footer_dssds.svg'); */
  background-repeat: no-repeat;
}

.sdcdscsdss_ss_1 {
  width: 66%;
  color: #fff;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.footer_cont_1 {
  width: 45%;
}

.use_sdc_1 {
  font-size: 39px;
  font-family: "Cabin", sans-serif;
}

.footer_emi_1 {
  font-size: 17px;
  text-align: center;
  line-height: 24px;
}

.mbdjc_jsc {
  width: 80%;
}

.foot_ofcd_1 {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  /* padding-left: 4rem; */
  /* padding-right: 4rem; */
}

.use_sdc_2 {
  font-family: "DM Serif Text", serif !important;
  font-weight: 400;
  font-size: 1.2rem !important;
  line-height: 100%;
  letter-spacing: 0%;
}

@media (max-width: 571px) {
  .footer_cont_1 {
    width: 78%;
  }

  .sdcdscsdss_ss_1 {
    font-size: 13px !important;
  }
  .footer_emi_1 {
    font-size: 13px !important;
  }
}

@media (max-width: 493px) {
  .use_sdc_1 {
    font-size: 26px;
  }
}

@media (max-width: 442) {
  .footer_cont_1 {
    width: 78%;
  }

  .use_sdc_1 {
    font-size: 32px;
  }
}

@media (max-width: 405px) {
  .use_sdc_1 {
    font-size: 25px;
    width: 100% !important;
  }

  .footer_cont_1 {
    width: 76%;
  }
}

@media (max-width: 341px) {
  .use_sdc_1 {
    font-size: 25px;
  }
}
.support_acc {
  border: none;
}

.footer_mdjj
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiAccordion-root.MuiAccordion-rounded.MuiAccordion-gutters.css-1pug5wj {
  background: transparent !important;
  color: white !important;
  width: 100% !important;
  outline: none !important;
  border: none !important;
  --Paper-shadow: none !important;
}

.css-1808mag-MuiPaper-root-MuiAccordion-root::before {
  position: absolute;
  left: 0;
  top: -1px;
  right: 0;
  height: 1px;
  content: "";
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.12);
  -webkit-transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}