body {
  margin: 0;
  font-family: "Cabin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-header {
  position: sticky;
  top: 0;
  z-index: 999999;
  transition: top 0.3s ease-in-out;
}

.hide-header {
  top: -160px; /* Adjust based on header height */
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1000;
  transition: transform 0.3s ease;
  transform: scale(1.1);

}

.whatsapp-float:hover {
  transform: scale(1.3);
}

@media (max-width:500px) {
  .whatsappIcon-mobile{
    width: 60px !important;
    height: 60px !important;
  }
}

.S9gUrf-YoZ4jf * {
  border: none !important;
  margin: 0;
  padding: 0;
}
.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-BPrWId {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: "Google Sans",arial,sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  vertical-align: top;
}
.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-Bz112c {
  height: 22px;
  margin-right: 8px;
  min-width: 22px;
  width: 22px;
}